/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin-top: 36px;
  margin-bottom: 36px;
}

.form-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 40px;
  gap: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0 auto;
  margin-bottom: 32px;
}

.input-search {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
}

.input-search::placeholder {
  line-height: 1.5;
  color: #808080;
}

.input-search:hover {
  border: 1px solid #000;
}

.input-search:active,
.input-search:active {
  border: 1px solid #808080;
}


.btn {
  border-radius: 8px;
    padding: 8px 16px;
    align-items: center;
      justify-content: center;
      border: none;
      padding: 8px 16px;
      font-weight: 500;
      color: #fff;
      background-color: #4e75ff;
}
.btn-search {
  width: 90px;
  height: 40px;
  display: flex;
}

.btn-load{
      display: block;
      margin: 0 auto;
      min-width: 125px;
      margin-top: 32px;
}

.form-search button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1158px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 200px;
  width: calc((100% - 48px) / 3);
  overflow: hidden;
}

.gallery-item:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.gallery-link {
  height: 152px;
}

.gallery-image {
  object-fit: cover;
}

.galery-attribute-list {
  display: flex;
  padding: 4px 25px 4px 20px;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  width: 100%;
  height: 48px;
  background: #fff;
  justify-content: space-between;
}

.attribute-item {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.attribute {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.attribute-value {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}


.loader {
  width: 38px;
  height: 38px;
  border: 3px solid yellow;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
  margin-bottom: 36px;
  margin-top: 8px;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: blue;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.izi-toast {
  border-radius: 4px;
  border-bottom: 2px solid #ffbebe;
}